.body {
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
}

h1 {
  color: rgb(147, 212, 191);
  text-shadow: 4px 3px 0px #7a7a7a;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  line-height: 28px;
  margin-top: 20px;
}

.searchnow .btn {
  background: rgb(243, 182, 147);
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
}

.current-button .btn {
  background: rgb(165, 211, 217);
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
}

.current-button:hover {
  background: #ff96ad;
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad,
    0 0 200px #ff96ad;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weatherapp {
  background-color: rgb(245, 207, 213);
  color: rgb(33, 33, 33);
  border: 1px solid rgb(243, 243, 244);
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 2px 2px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
  font-size: 16px;
}

.celsius-link,
fahrenheit-link {
  cursor: default;
}

.celsius-link,
fahrenheit-link:hover {
  text-decoration: none;
}

.search-bar {
  margin-bottom: 20px;
}

.small {
  font-size: 80%;
  font-weight: 400;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer {
  text-align: center;
}
