body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: #f9f7fe;
  text-align: left;
}

.App {
  max-width: 800px;
  margin: 60px auto;
}

.Container {
  max-width: 700px;
  width: 100%;
  padding: 40px;
  margin: 0 auto;
  background: linear-gradient(#170063 0%, #3a1c9c 50%, #5f2fbd 100%);
  border-radius: 15px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #c9c9c9;
  text-transform: capitalize;
}

#dateTime {
  font-family: special elite;
  color: #fdff03;
  text-shadow: 0 0 3px #ffffbc, 0 0 5px #ffffff;
}

#search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

#search-button {
  background: #170063;
  color: #fdff03;
  text-shadow: 0 0 1px #ffffff, 0 0 3px #fdfdba;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#search-button:hover {
  text-shadow: 0 0 5px #fdff03, 0 0 25px #fdff03, 0 0 50px #fdff03,
    0 0 200px #fdff03;
}

h1 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 70px;
  line-height: 50px;
  color: #fdff03;
  text-transform: capitalize;
  font-family: lobster;
  letter-spacing: 10px;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: none;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffcf,
      0 0 40px #ffff7c, 0 0 50px #ffff43, 0 0 60px #fcfc1b, 0 0 70px #fdff03;
  }
}

h2 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 80px;
  color: #fdff03;
  font-family: lobster;
  text-align: center;
  text-transform: capitalize;
}

#unit {
  font-size: 25px;
  position: relative;
  line-height: 1;
  top: -32px;
  text-decoration: none;
  color: #fdff03;
}

.active {
  color: #fdff03;
  text-decoration: none;
  cursor: default;
  text-shadow: 0 0 5px #fdff03, 0 0 25px #fdff03, 0 0 50px #fdff03,
    0 0 200px #fdff03;
}

.active:hover {
  cursor: default;
  text-decoration: none;
  color: #fdff03;
  text-shadow: 0 0 5px #fdff03, 0 0 25px #fdff03, 0 0 50px #fdff03,
    0 0 200px #fdff03;
}

#details {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.082);
}

.card-header {
  background: #9874e0;
}

.card-body {
  font-family: special elite;
  font-weight: bold;
  background: #f6f1ff;
  color: black;
}

#location {
  color: #fdff03;
}

#location:hover {
  text-shadow: 0 0 5px #fdff03, 0 0 25px #fdff03, 0 0 50px #fdff03,
    0 0 200px #fdff03;
}

#description {
  text-transform: capitalize;
  text-decoration: underline;
  text-shadow: 0 0 5px #fdff03, 0 0 25px #fdff03, 0 0 50px #fdff03,
    0 0 200px #fdff03;
}

#humidity,
#wind {
  color: red;
  text-decoration: underline;
}

#iconback {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #170063;
}

#forecast {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.082);
  color: #fbfbff;
  text-align: center;
}

p {
  text-align: center;
}
